<% include partials/header %>
<% include partials/fieldsets %>
<div class="container">
    <div class="">
        <h5>New Contact</h5>
    </div>
    <form action="/add" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="mname" name="mname" placeholder="Middle Name">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name">
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-12">
                <button type="button" class="btn btn-success" id="addAddress">+ Add Address</button>
            </div>
        </div>
        <div id="cloneAddresshere">
            <!-- Address -->
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" id="addPhone">+ Add Phone</button>
            </div>
        </div>
        <div id="clonePhonehere">
            <!-- Phone -->
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" id="addEvent">+ Add Event</button>
            </div>
        </div>
        <div id="cloneEventhere">
            <!-- Event -->
        </div>
        <div class="">
            <button type="submit" id="createcontact" class="btn btn-primary">Create Contact</button>
        </div>
    </form>
</div>
<% include partials/footer %>