<% include partials/header %>
<h1>Home</h1>
<form action="/add" method="POST">
    <input type="text" name="addnew" placeholder="New">
    <button type="submit">Button</button>
</form>
<% include partials/footer %>